@import "../../style/_bootstrap";

:host {
  width: 100%;
}

.cafe-text-wrap {
  white-space: pre-wrap;
}

.cafe-detail-list {
  li {
    &:not(:first-child) {
      border-top: 0 none;
    }
    border-bottom: 0 none;
  }
  a {
    color: $gray-dark;
  }
}