<header>
</header>

<main>
  <div class="container-fluid h-100 cafe-wrapper">
    <div class="row h-100">
      <div class="col-6 col-lg-4 col-xl-3 h-100 p-0 cafe-container cafe-container-scroll">
        <router-outlet></router-outlet>
      </div>
      <cafe-map class="col h-100 p-0"></cafe-map>
    </div>
  </div>
</main>

<div class="cafe-loading-overlay d-flex flex-column justify-content-center align-items-center" *ngIf="!ready">
  <h1 class="display-3">Café <i class="fa fa-map-o" aria-hidden="true"></i></h1>
  <p><em>by 迟遲的星星球</em></p>
  <p><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> 连接数据库……</p>
</div>

<footer class="my-3">
</footer>

