<sebm-google-map 
  class="w-100 h-100 p-100"
  [latitude]="_lat"
  [longitude]="_lng"
  [zoom]="_zoom"
  [disableDefaultUI]="false"
  [zoomControl]="true"
  [usePanning]="true"
  (mapClick)="mapClicked($event)">
  
  <sebm-google-map-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
      iconUrl="/img/coffee.png">
      
    <sebm-google-map-info-window>
      <strong>InfoWindow content</strong>
    </sebm-google-map-info-window>
    
  </sebm-google-map-marker>
</sebm-google-map>