.cafe-card-nav {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.05);
  transition: box-shadow 0.1s ease-in-out;
  min-height: 10rem;
  &:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 8px 15px rgba(0,0,0,0.1);
    color: white;
    text-decoration: none;
  }
}
