<a class="cafe-card-nav card card-inverse card-info mb-3 text-center m-3 cafe-bg-2" routerLink="/cafe">
  <div class="card-block d-flex flex-column justify-content-center">
    <blockquote class="card-blockquote h1">
      浏览
    </blockquote>
    <p class="small my-1">浏览由迟迟精心挑选的所有上海咖啡馆。</p>
  </div>
</a>
<a class="cafe-card-nav cafe-card-disabled card card-inverse card-success mb-3 text-center m-3 cafe-bg-1" routerLink="/explore">
  <div class="card-block d-flex flex-column justify-content-center">
    <blockquote class="card-blockquote h1">
      探索
    </blockquote>
    <p class="small my-1">根据你的喜好，找到适合你的咖啡馆。 <small>(暂未开放)</small></p>
  </div>
</a>
<div class="card mb-3 m-3">
  <div class="card-block">
    <h4 class="card-title">Café <i class="fa fa-map" aria-hidden="true"></i></h4>
    <h6 class="card-subtitle mb-2 text-muted"><em>by 迟遲的星星球</em></h6>
    <p class="card-text">我是一名上海的高中生。为了体验更好的刷题环境，我在周末和假期探访上海的咖啡馆，并在 CaféMap 中展示出来。</p>
    <p class="card-text">对于特别喜爱的咖啡馆，我希望通过 CaféMap 对它进行全面的展现。您可以在 CaféMap 上看到关于它的一篇简介鸡汤文、详细的店铺信息、评价和相关链接。</p>
  </div>
</div>
<div class="card mb-3 m-3">
  <div class="card-block">
    <h4 class="card-title">更多</h4>
    <ul class="card-text list-unstyled">
      <li><i class="fa fa-fw fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/iSkyZH" target="_blank">@iSkyZH <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      <li><i class="fa fa-fw fa-github" aria-hidden="true"></i> <a href="https://github.com/SkyZH" target="_blank">@SkyZH <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      <li><i class="fa fa-fw fa-github" aria-hidden="true"></i> <a href="https://github.com/SkyZH/CafeMap" target="_blank">SkyZH/CafeMap <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      <li>
        <i class="fa fa-fw fa-share-square-o" aria-hidden="true"></i>
        <ul class="list-inline d-inline">
          <li class="list-inline-item"><a href="https://goo.gl/forms/a0yR7ycfgWtAuN4K2" target="_blank">提建议 <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
          <li class="list-inline-item"><a class="text-muted" target="_blank"><del>向我推荐咖啡馆 (暂未开放)</del></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
