<h1 class="p-3"><a routerLink="/"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a> <i class="fa fa-coffee" aria-hidden="true"></i> 浏览</h1>
<cafe-loading class="p-3 mb-3" text="正在获取最新数据……" *ngIf="!(cafe$ | async)"></cafe-loading>
<ul class="list-group list-group-flush">
  <li class="list-group-item">共 {{ cafe_count$ | async }} 个咖啡馆</li>
  <li class="list-group-item">于{{ (lstUpdate$ | async)?.$value | amDateFormat: "LL" }}更新</li>
  <a class="cafe-list-item list-group-item" *ngFor="let cafe of (cafe$ | async)" [routerLink]="'/cafe/' + cafe.$key">
    <span>
      <span><i class="fa fa-coffee" aria-hidden="true"></i> {{ cafe.name }}</span>  
      <span *ngIf="cafe.branch"> ({{ cafe.branch }})</span>
      <small class="text-muted" *ngIf="cafe.secondary_name"> / {{ cafe.secondary_name }}</small>
    </span>
  </a>
</ul>
